<form action="doctors/create" method="post">
    <div>
        <label for="fio">FIO</label>
        <input type="text" name="fio" required="required" id="fio">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
    </div>
    <div>
        <label for="specialization">specialization</label>
        <input type="text" name="specialization" id="specialization">
    </div>
    <input type="submit" value="submit">
</form>