<form action="doctors/create" method="post">
    <div>
        <input type="text" name="fio" required="required" id="fio" placeholder="FIO">
    </div>
    <div>
        <input type="text" name="phone" id="phone" placeholder="Cellphone number">
    </div>
    <div>
        <input type="text" name="specialization" id="specialization" placeholder="Specialization">
    </div>
    <input type="submit" value="submit">
</form>