{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        {% for doctor in doctors %}
            <li>
                <a href="/doctors/{{ doctor.id }}" title="{{ doctor.specialization }}">
                    {{ doctor.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <add-button color="steelblue"></add-button>

    <dialog id="form">
        {% include 'visit/form.twig' %}
    </dialog>
{% endblock %}
