{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        {% for doctor in doctors %}
            <li>
                <a href="/doctors/{{ doctor.id }}" title="{{ doctor.specialization }}">
                    {{ doctor.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% include 'doctor/form.twig' %}

    {#<datetime-picker native-on-mobile></datetime-picker>#}
    <add-button color="blue"></add-button>

{% endblock %}
