<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {#<link rel="import" href="datetime-picker.html">#}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/javascripts/main.js"></script>
  </body>
</html>
