<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {#<link rel="import" href="datetime-picker.html">#}
  </head>
  <body>
    <a href="/">HOME</a> |
    <a href="/patients">PATIENTS</a> |
    <a href="/doctors">DOCTORS</a> |
    <a href="/meds">MEDS</a>
    {% block body %}{% endblock %}
    <script src="/javascripts/main.js"></script>
  </body>
</html>
