{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        <ul>

        </ul>
    </ul>


    {#<datetime-picker native-on-mobile></datetime-picker>#}
    <add-button color="blue"></add-button>
{% endblock %}
