body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.homeopathy {
  color: red;
}

li {
  display: block;
}

form *:invalid {
  background-color: #ffdddd;
  border-left-color: salmon;
}

form *:valid {
  border-left-color: palegreen;
}

form input {
  border-width: 1px;
  border-left-width: 7px;
  width: 100%;
  font-family: system-ui;
  font-size: 2em;
  margin-bottom: 5px;
  border-radius: 7px;
}

form input[type='submit'] {
  border-radius: 30px;
  border: none;
  background-color: steelblue;
  font-size: 56px;
  text-align: center;
  width: 100%;
}

dialog {
  width: 93%;
  height: 93%;
  top: 1%;
  border-width: 0px;
}