body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.homeopathy {
  color: red;
}

li {
  display: block;
}

form *:invalid {
  background-color: #ffdddd;
}

form input {
  border-width: 1px;
}

form input:required {
  border-color: #800000;
}