<form action="patients/create" method="post">
    <div>
        <input type="text" name="name" required="required" id="name" placeholder="Name">
    </div>
    <div>
        <input type="URL" name="photo" id="photo" placeholder="URL photo">
    </div>
    <div>
        <input type="datetime-local" value="" name="birth" id="birth" placeholder="date of birth">
    </div>
    <input type="submit" value="submit">
</form>