<form action="patients/create" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" required="required" id="name">
    </div>
    <div>
        <label for="photo">Photo</label>
        <input type="URL" name="photo" id="photo">
    </div>
    <div>
        <label for="birth">Birth</label>
        <input type="datetime-local" value="" name="birth" id="birth">
    </div>
    <input type="submit" value="submit">
</form>