{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        {% for patient in patients %}
            <li>
                <a href="/patients/{{ patient.id }}">
                    {{ patient.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <add-button color="gold"></add-button>

    <dialog id="form">
        {% include 'visit/form.twig' %}
    </dialog>
{% endblock %}
