{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        {% for patient in patients %}
            <li>
                <a href="/patients/{{ patient.id }}">
                    {{ patient.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% include 'patient/form.twig' %}

    {#<datetime-picker native-on-mobile></datetime-picker>#}
    <add-button color="blue"></add-button>

{% endblock %}
